{% extends "polls/layout.html" %}

{% block title %}Polls{% endblock %}

{% block content %}
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li>
                    {% comment %} <a href="/polls/{{ question.id }}/">{{ question.question_text }}</a> {% endcomment %}
                    {% comment %}HOW IT WORKS:: href="{% url 'app_name:name' question.id %}" {% endcomment %}
                    <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}
